/* цвет текста заглавия #212121 */
/* цвет текста кнопки #FFFFFF */
/* цвет текста основной #757575 */
/* цвет текста выделения #2196F3 */
/* цвет фона основной #FFFFFF */
/* цвет фона вторичный #F5F4FA */
/* цвет фона футер #2F303A */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --hero-text-color: #ffffff;
  --acent-color: #2196f3;
  --button-fon-color: #f5f4fa;
}
body {
  background-color: #ffffff;
  color: #757575;
}
ul {
  list-style: none;
}

/* Cтили  страницы index.html*/
.logo-blue {
  color: var(--acent-color);
}
.logo-black {
  color: var(--title-text-color);
}
/* Hero */
.hero-title {
  color: var(--hero-text-color);
}
/* site nav */
.site-nav .link {
  color: var(--title-text-color);
}
.site-nav .link.current {
  color: var(--acent-color);
}
/* навигация */
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--acent-color);
}
/* Контакты */
.mail {
  color: var(--primary-text-color);
}
.mail:hover,
.mail:focus {
  color: var(--acent-color);
}
.tel {
  color: var(--primary-text-color);
}
.tel:hover,
.tel:focus {
  color: var(--acent-color);
}
.adress {
  color: var(--hero-text-color);
}
.adress:hover,
.adress:focus {
  color: var(--acent-color);
}
/* все заголовки */
.section-title {
  color: var(--title-text-color);
}
/* Особенности */
.qualite-title {
  color: var(--title-text-color);
}
/* наша команда */
.team-title {
  color: var(--title-text-color);
}
/* кнопка */
.button-hero {
  color: #ffffff;
  background-color: #2196f3;
}
/* portfolio.html */
/* Кнопки фильтры */
.button .filter {
  color: var(--title-text-color);
  background-color: var(--button-fon-color);
}
.button .filter:hover,
.button .filter:focus {
  color: var(--hero-text-color);
  background-color: var(--acent-color);
}
/* Портфолио */
.portfolio .title {
  color: var(--title-text-color);
}
